<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <div class="col-12">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="nome"
             placeholder="Nome" [ngClass]="aplicaCssErro('nome')">
      <app-error-msg
        [control]="$any(formulario.get('nome'))"
        label="Nome"></app-error-msg>
    </div>
  </div>

  <div class="col-12">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="email" id="email"
           placeholder="nome@email.com" [ngClass]="aplicaCssErro('email')">
    <app-error-msg
      [control]="$any(formulario.get('email'))"
      label="Email"></app-error-msg>

    <app-campo-control-erro
      [mostrarErro]="formulario.get('email')?.status === 'PENDING'"
      msgErro="Validando email"></app-campo-control-erro>
    <app-campo-control-erro
    [mostrarErro]="formulario.get('email')?.status === 'VALID' "
    msgErro="Email válido"></app-campo-control-erro>
   <!-- <app-campo-control-erro
      [mostrarErro]="formulario.get('email')?.hasError('emailInvalido')"
      msgErro="Email já cadastrado"></app-campo-control-erro>-->
    <!-- <app-campo-control-erro
      [mostrarErro]="verificaValidTouched('email')"
      msgErro="Email é obrigatório"></app-campo-control-erro>
    <app-campo-control-erro
      [mostrarErro]="verificaEmailInvalido()"
      msgErro="Email inválido"></app-campo-control-erro>-->
  </div>

  <div class="col-12">
    <label for="confirmarEmail">Confirmar Email</label>
    <input type="email" class="form-control" formControlName="confirmarEmail" id="confirmarEmail"
           placeholder="nome@email.com">
    <app-error-msg
      [control]="$any(formulario.get('confirmarEmail'))"
      label="Confirmar Email"></app-error-msg>
    <app-campo-control-erro
      [mostrarErro]="formulario.get('confirmarEmail')?.hasError('equalsTo')"
      msgErro="Emails não são iguais"></app-campo-control-erro>
  </div>

  <div formGroupName="endereco">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group" [ngClass]="aplicaCssErro('endereco.cep')">
          <label for="cep" class="form-label">CEP</label>
          <input type="text" class="form-control" formControlName="cep" id="cep">
          <app-error-msg [control]="$any(formulario.get('endereco.cep'))" label="CEP"></app-error-msg>
         <!-- <app-campo-control-erro
            [mostrarErro]="verificaRequired('endereco.cep')"
            msgErro="CEP é obrigatório"></app-campo-control-erro>
          <app-campo-control-erro
            [mostrarErro]="formulario.get('endereco.cep')?.hasError('cepInvalido')"
            msgErro="CEP inválido"></app-campo-control-erro>-->
        </div>
      </div>

      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('endereco.numero')">
        <label for="numero" class="form-label">Número</label>
        <input type="text" class="form-control" formControlName="numero" id="numero">
        <app-error-msg [control]="$any(formulario.get('endereco.numero'))" label="Número"></app-error-msg>
       <!-- <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.numero')"
          msgErro="Numero é obrigatório"></app-campo-control-erro>-->
      </div>

      <div class="form-group col-md-6" [ngClass]="aplicaCssErro('endereco.complemento')">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" formControlName="complemento" id="complemento">
      </div>
    </div>


    <div class="col-12" [ngClass]="aplicaCssErro('endereco.rua')">
      <label for="rua" class="form-label">Rua</label>
      <input type="text" class="form-control" formControlName="rua" id="rua">
      <app-error-msg [control]="$any(formulario.get('endereco.rua'))" label="Rua"></app-error-msg>

      <!--<app-campo-control-erro
        [mostrarErro]="verificaValidTouched('endereco.rua')"
        msgErro="Rua é obrigatório"></app-campo-control-erro>-->
    </div>

    <div class="row">
      <div class="col-md-5" [ngClass]="aplicaCssErro('endereco.bairro')">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" formControlName="bairro" id="bairro">
        <app-error-msg [control]="$any(formulario.get('endereco.bairro'))" label="Bairro"></app-error-msg>

       <!-- <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.bairro')"
          msgErro="Bairro é obrigatório"></app-campo-control-erro>-->
      </div>

      <div class="col-md-4" [ngClass]="aplicaCssErro('endereco.cidade')">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" formControlName="cidade" id="cidade">
        <app-error-msg [control]="$any(formulario.get('endereco.cidade'))" label="Bairro"></app-error-msg>

        <!--<app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.cidade')"
          msgErro="Cidade é obrigatório"></app-campo-control-erro>-->
      </div>

      <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.estado')">
        <label for="estado" class="form-label">Estado</label>
        <select type="text" class="form-control" formControlName="estado" id="estado">
          <option *ngFor="let estado of estados | async " [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <app-error-msg [control]="$any(formulario.get('endereco.estado'))" label="Estado"></app-error-msg>

        <!--<app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.estado')"
          msgErro="Estado é obrigatório"></app-campo-control-erro>-->
      </div>

    </div>


  </div>

  <div class="form-group row">
    <div class="col-md-4" [ngClass]="aplicaCssErro('cargo')">
      <label for="cargo" class="form-label">Cargo</label>
      <select type="text" class="form-control" formControlName="cargo" id="cargo" [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>

    <div class="col-md-4" [ngClass]="aplicaCssErro('tecnologias')">
      <label  for="tecnologias" class="form-label">Tecnologias</label>
      <select multiple type="text" class="form-control" formControlName="tecnologias" id="tecnologias">
        <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>

    <div class="col-md-4" [ngClass]="aplicaCssErro('newsletter')">
      <label  for="newsletter" class="form-label">Newsletter</label>
      <div id="newsletter" class="row">
        <div class="col-md-4" *ngFor="let op of newsletterOp">
        <label class="radio-inline">
          <input type="radio" [value]="op.valor" formControlName="newsletter"> {{ op.desc }}
        </label>
        </div>
      </div>
    </div>


  </div>

  <div class="form-group row">
    <div class="col-md-4" [ngClass]="aplicaCssErro('termos')">
      <div class="checkbox">
        <label class="checkbox-inline">
          <input type="checkbox" formControlName="termos"> Aceito os termos.
        </label>
        <app-error-msg [control]="$any(formulario.get('termos'))" label="Aceito os termos"></app-error-msg>

       <!-- <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('termos')"
          msgErro="Por favor, aceite os termos"></app-campo-control-erro>-->
      </div>
    </div>

    <div class="col-md-4" [ngClass]="aplicaCssErro('frameworks')">
      <label for="frameworks">Frameworks:</label>
      <div id="frameworks" class="row">
      <div class="checkbox" class="col-sm-4"
           formArrayName="frameworks"
           *ngFor="let item of getFrameworksControls(); let i= index">
        <label class="checkbox-inline">
          <input type="checkbox" [formControlName]="i" > {{ frameworks[i] }}
        </label>
      </div>
        <app-error-msg [control]="$any(formulario.get('frameworks'))" label="Frameworks"></app-error-msg>

        <!--<app-campo-control-erro
          [mostrarErro]="verificaValidTouched('frameworks')"
          msgErro="Por favor, selecione uma opção"></app-campo-control-erro>-->
      </div>
    </div>

  </div>

    <div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn" (click)="resetar()">Cancelar</button>
    <button class="btn" (click)="setarCargo()">Cargo</button>
    <button class="btn" (click)="setarTecnologias()">Tecnologias</button>
    </div>

  <div>
    <app-form-debug [form]="formulario"></app-form-debug>
  </div>


</form>



